body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.learning-pathway-container {
  margin-bottom: 53px;
}

.nav_container {
  margin-bottom: 29px;
}

.learning-pathway-container .head {
  line-height: 4rem;
}
.card.learning-pathway {
  max-width: 25rem;
  background-color: #dee2e6;
  border-radius: 0;
}
